<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Movie Store</h1>
    <p>
      You have successfully signed up to Movie Store,
      your email is: <%= @user.email %>.<br>
      your password is: <%= @user.password%><br>
      Enjoy Viewing and Reviewing Every Favourite movie of yours.
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
