<div class="row">
    <div class="iconmelon">
      <%= image_tag('movie-store.png',width:"100%")  %>
    </div>
</div>

<div class="panel panel-default" >
    <div class="panel-heading">
        <div class="panel-title text-center">Movie Store</div>
    </div>
