      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
        <a href="<%= movie_path(movies)%>" class="top-list">  <%= movies.title %> </a>
        </td>
        <td>
          <%= movies.genre %>
        </td>
      </tr>
