<div class="panel-body table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Name
        </th>
        <th>
          Genre
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Default
        </td>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Approved
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Declined
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Pending
        </td>
      </tr>
      <tr>
        <td>
          4
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Call in to confirm
        </td>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Default
        </td>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Approved
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Declined
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Pending
        </td>
      </tr>
      <tr>
        <td>
          4
        </td>
        <td>
          TB - Monthly
        </td>
        <td>
          Call in to confirm
        </td>
      </tr>
    </tbody>
  </table>
</div>
