<div class="col-md-12">
  Be the First to Comment
  <h4>Reviews</h4>
  <form role="form" class="form-inline">
    <img alt="<% movies.title %>" src="<%= movies.image_url %>" class="img-thumbnail user-img-img-show" align="middle"/>
    <div class="form-group">

      <textarea rows="4" cols="50">
      </textarea>

    </div>
  </br>
    <div class="form-group comment-show">
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    </div>
  </form>
</div>
