
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-687387">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-687387">
					</li>
					<li data-slide-to="1" data-target="#carousel-687387">
					</li>
					<li data-slide-to="2" data-target="#carousel-687387">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-687387" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-687387" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<h3>
				Top Views Movies
			</h3>
			<div class="row">
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
					<h3 class="text-center text-info">
						Avengers Infinity War
					</h3>
				</div>
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
					<h3 class="text-center text-info">
						Avengers Infinity War
					</h3>
				</div>
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
					<h3 class="text-center text-info">
						Avengers Infinity War
					</h3>
				</div>
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
					<h3 class="text-center text-info">
						Avengers Infinity War
					</h3>
				</div>
			</div>
      <div class="top-rated-index">
  			<h3>
  				Top Rated Movies
  			</h3>
  			<div class="row">
  				<div class="col-md-3">
  					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
  					<h3 class="text-center text-info">
  						Avengers Infinity War
  					</h3>
  				</div>
  				<div class="col-md-3">
  					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
  					<h3 class="text-center text-info">
  						Avengers Infinity War
  					</h3>
  				</div>
  				<div class="col-md-3">
  					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
  					<h3 class="text-center text-info">
              Avengers Infinity War
  					</h3>
  				</div>
  				<div class="col-md-3">
  					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded image-setting-index" />
  					<h3 class="text-center text-info">
  						Avengers Infinity War
  					</h3>
  				</div>
  			</div>
  		</div>
    </div>
