<%= render partial: "movie_detail",locals: { movies: @movies} %>
<div class="row up-margin">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
								<%= render partial: "movie_comment",locals: { movies: @movies}  %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<h4>Top 10 list of <%= @movies.genre%></h4>
						</h3>
					</div>
						<%= render partial: "movie_top_list",locals: { movies: @movies} %>
				</div>
			</div>
		</div>
	</div>
</div>
