.up-margin{
  margin-top: 60px;
}
.rating-show-image{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.rating-show{
  margin-left: 10px;
}
.user-img-img-show{
  width: 50px;
  height: 50px;
}
.comment-show{
  float: right;
}
